* {
  float: none;
  background: #fff;
  color: #000;
}

body { font-size: 80%; }
/*
     FILE ARCHIVED ON 18:27:26 Aug 09, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:02:47 Aug 07, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.814
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.012
  esindex: 0.019
  cdx.remote: 627.451
  LoadShardBlock: 184.704 (3)
  PetaboxLoader3.datanode: 118.157 (4)
  PetaboxLoader3.resolve: 107.912 (2)
  load_resource: 86.436
*/